@keyframes slide-down
  0%
    opacity: 0
  1%
    transform: translateY(-100%)
  80%
    transform: translateY(4%)
  95%
    transform: translateY(-2%)
  100%
    opacity: 1
    transform: translateY(0%)

@keyframes slide-left
  0%
    opacity: 0
  1%
    transform: translateX(50%)
  100%
    opacity: 1
    transform: translateX(0%)

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1
