@require '_colors'
@require '_functions'
@require '_animations'

*
  box-sizing: border-box

html, body
  height: 100%

body
  background: bg-1
  font: normal 14px/1.5rem 'Montserrat', sans-serif
  color: font-primary

swanaudio
  display: flex
  flex-direction: column
  height: 100%


/* Links
  ---------------------------------------------------------------- */

a
  color: font-light
  text-decoration: none
  transition: ease-out 200ms all
  text-transform: capitalize

  &:hover
    color: accent
    text-decoration: none


/* Text-level
  ---------------------------------------------------------------- */

h1, h2, h3, h4, h5
  text-transform: capitalize

h1
  margin: 0 0 .5rem

  strong
    color: accent

h5
  font-size: 1.3em
  font-weight: 700
  line-height: 1.4em
  margin: 1rem 0


/* Form
  ---------------------------------------------------------------- */

input[type='text'], input[type='email'], textarea
  padding: 5px
  border: 1px solid border-dark
  color: font-primary

  +placeholder()
    color: font-muted

button[type='submit']
  background: accent
  color: font-light
  border: 0
  border-radius: 2px
  padding: .5rem
  font-size: 13px

/* Helpers
  ---------------------------------------------------------------- */


.bg-1
  background: rgba(bg-1, .87)

.bg-2
  background: rgba(bg-2, .87)

.bg-3
  background: rgba(bg-3, .87)

.panel-1, .panel-2
  panel(bg-2, accent)

.panel-3
  panel(bg-2, accent, '/assets/bg-alt-2.jpg')

.panel-4
  panel(bg-2, accent, '/assets/bg-alt-3.jpg')

.flex
  flex: 1 0 auto

.btn-primary
  background: accent
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)
  color: font-light-secondary
  border-radius: 2px
  padding: 8px 26px 8px 30px
  margin: 10px 1px
  cursor: pointer
  display: block

  .fa-long-arrow-right
    margin-left: 4px
    transition: linear 350ms transform

  &:hover
    color: @color
    background: lighten(@background, 4%)

  &:hover .fa-long-arrow-right
    transform: translateX(10px)

ul.inline-list
  display: flex
  list-style-type: none
  margin: 0
  padding: 0

  &>li
    flex: 1 0 0
    padding: 0 10px

nav.subnav
  background: bg-3
  box-shadow: 0 3px 3px rgba(0,0,0,.21)
  text-align: center
  overflow: hidden

  &>ul
    list-style: none
    margin: 0
    padding: 0
    display: flex
    flex-direction: row
    justify-content: center

    &>li
      display: inline-block
      animation-name: slide-down
      animation-duration: 350ms
      animation-delay: 0s
      animation-iteration-count: 1
      animation-timing-function: ease
      transition: 300ms ease-out background

      &:hover
        background: bg-4

      &>a
        padding: 6px 18px 6px 6px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        color: font-primary

      img
        height: 36px
        margin-right: 4px

      span
        font-size: 11px
