@require '_colors'

html, body
  height: 100%

body
  color: font-primary
  background: bg-1
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px

a
  color: font-light
  text-decoration: none

  &:hover
    color: accent
    text-decoration: underline

h1, h2, h3, h4, h5
  text-transform: uppercase 

a
  text-transform: uppercase

h5
  font-size: 1.3em
  font-weight: 700
  line-height: 1.4em
  margin-bottom: 10px

swanaudio
  display: flex
  flex-direction: column
  height: 100%

.bg-1
  background: rgba(bg-1, .87)

.bg-2
  background: rgba(bg-2, .87)

.bg-3
  background: rgba(bg-3, .87)

.flex
  flex: 1 0 auto
