@require '_colors'

p
  color: font-secondary
  padding: 0 .5rem

form
  padding-bottom: 1rem

input[type='email']
  height: 1.5rem
  padding-left: .5rem

button[type='submit']
  background: accent
  color: font-light
  border: 0
  border-radius: 2px
  padding: .5rem
  font-size: 13px
