@require '_colors'

article
  padding: 37px 5vw
  display: flex
  flex-wrap: wrap
  flex-direction: row

  &>h2, &>p
    margin-top: 0
    margin-bottom: 1rem
    flex: 1 0 auto
    width: 50%

    @media (max-width: 500px)
      width: 100%

  &>p
    color: font-muted
    font-size: 18px
    letter-spacing: 0.1em
    text-align: right

    @media (max-width: 500px)
      width: 100%

  h3
    margin-top: 0

  &>aside
    flex: 1 0 0

    section+section
      margin-top: 20px

  section
    padding: 20px

  &>section
    flex: 4 0 0
    margin-left: 2vw

    @media (max-width: 500px)
      margin: 20px 0

  dl
    display: flex
    flex-direction: row
    flex-wrap: wrap
    color: font-secondary

    span
      display: block
      margin: 5px 10px

    &>*
      border-bottom: 1px solid border-dark

    &>dt
      flex: 0 0 50%

    &>dd
      flex: 0 0 50%
      margin-left: auto
      text-align: right

  .inline-list
    justify-content: center
    text-align: center
