@require '_colors'

ul
  list-style: none
  padding: 0
  margin: 0

  &>li
    display: flex;
    margin-bottom: 15px

.tweet
  color: font-light-secondary
  padding-left: 1rem
  position: relative
  text-align: left

svg
  margin-top: 0.3rem
  color: twitter
