@require '_colors'

ul
  list-style: none
  padding: 0
  margin: 0

  &>li
    margin-bottom: 15px

.tweet
  color: font-light-secondary
  padding-left: 1.5rem
  position: relative
  text-align: left

  &:before
    content: "\f099"
    display: inline-block
    color: twitter
    font-family: FontAwesome
    position: absolute
    top: 0
    left: 0
