@main("About Swan Audio") {
<section class="container">
  <div class="row column-1">
    <img data-src="holder.js/2000x500/auto/lava/text:Some Image of Fun Things" class="img-responsive">
    <h1>About</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</section>
<section class="container">
  <div class="row column-1">
    <h1>The Crew</h1>
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <figure class="center-block">
            <img src="@routes.Assets.at("images/andrew.jpg")" class="img-responsive center-block">
            <figcaption>
            <ul class="social text-right">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://ca.linkedin.com/in/andrewswan1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Andrew Swan</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <figure class="center-block">
            <img src="@routes.Assets.at("images/alton.jpg")" class="img-responsive center-block">
            <figcaption>
            <ul class="social text-right">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Alton Leibel</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <figure class="center-block">
            <img src="@routes.Assets.at("images/evan.png")" class="img-responsive center-block">
            <figcaption>
            <ul class="social text-right">
              <li><a href="https://twitter.com/lykathia"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://linkedin.com/in/lykathia"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Evan Lowry</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
</section>
}
