@main("Swan Audio", javascript) {
<div class="row">
  <div id="news-feed" class="col-md-8">
    <script type="text/x-handlebars" data-template-name="index">
    {{#each}}
    <div class="news-post row">
      <div class="col-md-12">
        <h3>{{title}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    {{/each}}
    </script>
  </div>
  <div class="col-md-4">
    <h4>Spotlight</h4>
    <img src="/assets/images/r1.jpg" alt="Product 1">
  </div>
</div>
}

@javascript = {
<script type="text/javascript" src="@routes.Assets.at("javascript/index.js")"></script>
}

