@()
<!DOCTYPE html>
<html lang="en" data-framework="angular2">
  <head>
    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Swan Audio</title>

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("swan-audio-pin-final-2000x2000-png8.png")">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/normalize.css/normalize.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.min.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("fa-svg-with-js.css")'>

    <script type='text/javascript' src='@routes.Assets.versioned("lib/core-js/client/shim.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("lib/zone.js/dist/zone.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("lib/systemjs/dist/system.src.js")'></script>

    <script defer src='@routes.Assets.versioned("fontawesome-all.min.js")'></script>

    <script src='@routes.Assets.versioned("javascripts/system.js")'></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92080109-1', 'auto');
    </script>
  </head>
  <body>
    <swanaudio>Loading ...</swanaudio>
  </body>
</html>
