<h1>About</h1>

<article class='about'>
  <h1>Our <strong>Story</strong></h1>
  <section>
    <h3>Spoiler Alert: We make fearsome audio electronics.</h3>
    <p>
    Swan Audio has been around in the frostbitten audio wastelands of Atlantic Canada since 2012. As technology
    enthusiasts, seeing the lack of relative innovation in audio in comparison to other fields left us confused.
    The company started as a side project to find answers to why the 'status-quo' was the way it was.
    </p>
    <p>
    Talking about the future is weird in an industry where everyone is trying to relive the past. Our future is
    about enabling you to create the kind of sounds that you hear in your head. The sounds that comes as a result
    from knowing what you want.
    </p>
    <p><strong>The future awaits.</strong></p>
  </section>
  <aside>
    <img src="/assets/lab-1.jpg" alt="Working in the lab">
  </aside>
</article>

<article class='ideals'>
  <h1>Our <strong>Ideals</strong></h1>

  <ul>
    <li>
      <h2>Enjoy the Ride</h2>
      <p>
        We stress test our products, not ourselves. If something isn't fun to work on, it's time
        to work on something else.
      </p>
    </li>
    <li>
      <h2>Drive Change</h2>
      <p>
        This music industry is filled with vintage technology. Lets bring things into the 21st century.
      </p>
    </li>
    <li>
      <h2>Build with Heart</h2>
      <p>
        A lot of pride into everything we make. If it's not good enough for us,
        then it's not good enough for anyone.
      </p>
    </li>
    <li>
      <h2>Empower the Individual</h2>
      <p>
        You need knowledge to make informed choices. We believe in passing on what we know, to allow you
        to sculpt the sounds you hear in your head.
      </p>
    </li>
    <li>
      <h2>No Bullshit</h2>
      <p>
        Reality is root level for us. If something can't be demonstrated or measured, it does not exist.
      </p>
    </li>
  </ul>
</article>

<article class='crew'>
  <h1>The <strong>Crew</strong></h1>

  <ul>
    <li>
      <img src="/assets/swan.png" alt="Andrew Swan">
      <h2>Andrew Swan</h2>
      <h3>Hardware</h3>
      <p>
        The eponym of the company, Andrew brings over a decade of hands on electronics experience. Andrew holds a Bachelor of Engineering from Memorial University, as well as a P.Tech certification from AETTNL.
      </p>
      <ul class='inline-list'>
        <li>
          <a href='https://www.facebook.com/andrew.swan.319'><i class='fab fa-facebook'></i></a>
        </li>
        <li>
          <a href='https://www.linkedin.com/in/andrewswan1'><i class='fab fa-linkedin'></i></a>
        </li>
      </ul>
    </li>
    <li>
      <img src="/assets/evan.png" alt="Evan Lowry">
      <h2>Evan Lowry</h2>
      <h3>Software</h3>
      <p>
      A man of parts, Evan brings us his experience as a seasoned developer, multi-instrumentalist, and entrepreneur. Evan holds a Bachelor of Science in Computer Science from Saint Mary's University.
      </p>
      <ul class='inline-list'>
        <li>
          <a href='https://exitiumonline.com'><i class='fal fa-globe'></i></a>
        </li>
        <li>
          <a href='https://twitter.com/lykathia'><i class='fab fa-twitter'></i></a>
        </li>
        <li>
          <a href='https://www.linkedin.com/in/lykathia'><i class='fab fa-linkedin'></i></a>
        </li>
      </ul>
    </li>
    <li>
      <img src="/assets/alton.jpg" alt="Alton Leibel">
      <h2>Alton Leibel</h2>
      <h3>Beware</h3>
      <p>
      A mashup between creative arts and numbers, Alton brings an eye for aesthetics and spreadsheets to the team. Alton holds a Bachelor of Commerce from Memorial University.
      </p>
      <ul class='inline-list'>
        <li>
          <a href='https://www.facebook.com/Alton.Leibel'><i class='fab fa-facebook'></i></a>
        </li>
        <li>
          <a href='https://twitter.com/that_guy_alton'><i class='fab fa-twitter'></i></a>
        </li>
        <li>
          <a href='https://www.linkedin.com/in/alton-leibel-bbb4b879'><i class='fab fa-linkedin'></i></a>
        </li>
      </ul>
    </li>
  </ul>

</article>
