<h1>Contact Us</h1>

<section>
  <form class='panel-1'>
    <ul class='inline-list'>
      <li><h3>Sales</h3></li>
      <li><h3>Custom Work</h3></li>
      <li><h3>Support</h3></li>
    </ul>
    <input type='text' name='name' placeholder='Name'>
    <input type='email' name='email' placeholder='Email address'>
    <textarea rows='8' placeholder='Message'></textarea>
    <button type='submit' class='btn-primary'>Submit</button>
  </form>
  <aside class='panel-1'>
    <img src='assets/swan-audio-logo-final.svg' alt='Swan Audio'>
    <address>
      <p translate='no'>
        <i class='fa fa-location-arrow'></i>
        Lake Loon, <abbr title='Nova Scotia'>NS</abbr>, Canada<br>
      </p>
      <p translate='no'>
        <i class='fa fa-envelope-o'></i>
        <a href='mailto:sales@swanaudio.com'>sales@swanaudio.com</a>
      </p>
    </address>
    <hr>
    <ul class='inline-list'>
      <li>
        <a target='_blank' href='https://twitter.com/swanaudio' rel="noopener noreferrer">
          <i class='fa fa-twitter'></i>
        </a>
      </li>
      <li>
        <a target='_blank' href='https://www.linkedin.com/company/swan-audio' rel="noopener noreferrer">
          <i class='fa fa-linkedin'></i>
        </a>
      </li>
      <li>
        <a target='_blank' href='https://www.facebook.com/swanaudioca' rel="noopener noreferrer">
          <i class='fa fa-facebook'></i>
        </a>
      </li>
      <li>
        <a target='_blank' href='https://www.instagram.com/swan.audio' rel="noopener noreferrer">
          <i class='fa fa-instagram'></i>
        </a>
      </li>
      <li>
        <a target='_blank' href='https://www.youtube.com/channel/UCzVBh8sJ172X9HjcWMDyvBQ' rel="noopener noreferrer">
          <i class='fa fa-youtube'></i>
        </a>
      </li>
    </ul>
  </aside>
</section>
