<section class='feature'>
  <h1>Cables Are Here</h1>
  <h2>Your tone should come from you, not your cables.</h2>
  <a href class='btn-primary'>
    Learn More
    <i class='fa fa-long-arrow-right'></i>
  </a>
</section>

<section class='accents'>
  <div class='panel-2'>
    <h2>Latest Work</h2>
    <p>A blog post or something</p>
  </div>
  <div class='panel-3'>
    <h2>Custom Modifications</h2>
    <p>Come get some</p>
    <a href>Learn More</a>
  </div>
  <newsletter-signup class='panel-4'></newsletter-signup>
</section>
