<section class='feature'>
  <h1>Cables Are Here</h1>
  <h2>Your tone should come from you, not your cables.</h2>
  <a href class='btn-primary'>
    Learn More
    <i class='fa fa-long-arrow-right'></i>
  </a>
</section>

<section class='accents'>
  <div class='panel-2'>
    <h2>Latest Work</h2>
    <p>A blog post or something</p>
  </div>
  <div class='panel-3'>
    <h2>Custom Modifications</h2>
    <p>Come get some</p>
    <a href>Learn More</a>
  </div>
  <form action="//swanaudio.us12.list-manage.com/subscribe/post?u=e6eec5c6d112a4dcb91bcebf2&amp;id=db8e20cbc1" method="post" target="_blank" novalidate class='panel-4' ngNoForm>
    <h2>Mailing List</h2>
    <label>
      <span>Email Address</span>
      <input type="email" value="" name="EMAIL" id="mce-EMAIL" required placeholder='email address'>
    </label>
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_e6eec5c6d112a4dcb91bcebf2_db8e20cbc1" tabindex="-1" value="">
    </div>
    <button type="submit">Go</button>
  </form>
</section>
