<section class='feature'>
  <h1>Cables Are Here</h1>
  <h2>Your tone should come from you, not your cables.</h2>
  <a href class='btn-primary'>
    Learn More
    <i class='fa fa-long-arrow-right'></i>
  </a>
</section>

<section class='accents'>
  <div class='panel-2'>
    <h2>Latest Work</h2>
    <p>We're just getting everything set up to start making some cool youtube content. Watch this space!</p>
  </div>
  <div class='panel-3'>
    <h2>Custom Modifications</h2>
    <p>Have something cool in mind? Drop us a line!</p>
    <a class='email' href='mailto:sales@swanaudio.com'>sales@swanaudio.com</a>
  </div>
  <newsletter-signup class='panel-4'></newsletter-signup>
</section>
