<form action='//swanaudio.us12.list-manage.com/subscribe/post?u=e6eec5c6d112a4dcb91bcebf2&amp;id=db8e20cbc1' method='post' target='_blank' novalidate ngNoForm rel="noopener noreferrer">
  <h2>Newsletter</h2>
  <p>
    Get the latest and greatest, directly to your inbox.
    We're not going to judge you for wanting more email. You masochist.
  </p>
  <input type='email' name='EMAIL' id='mce-EMAIL'
    required placeholder='email address'
    pattern='^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$'>
  <div style='position: absolute; left: -5000px;' aria-hidden='true'>
    <input type='text' name='b_e6eec5c6d112a4dcb92bcebf2_db8e20cbc1' tabindex='-1' value=''>
  </div>
  <button type='submit'>Sign Up</button>
</form>
