<header role='banner' [class.active-menu]='menuState'>
  <a routerLink='/'>
    <img src='assets/swan-audio-logo-final-alt.svg' alt='Swan Audio'>
  </a>
  <a class='mobile-toggle' (click)='menuState = !menuState'>
    <i class='fa fa-bars'></i>
  </a>
  <nav role='navigation'>
    <a routerLink='/services' routerLinkActive='active'>Services</a>
    <a routerLink='/products' routerLinkActive='active'>Products</a>
    <a routerLink='/contact' routerLinkActive='active'>Contact</a>
  </nav>
  <aside>
    <a target='_blank' href='https://twitter.com/swanaudio'><i class='fa fa-twitter'></i></a>
    <a target='_blank' href='https://www.facebook.com/swanaudioca'><i class='fa fa-facebook'></i></a>
    <a target='_blank' href='https://www.youtube.com/channel/UCzVBh8sJ172X9HjcWMDyvBQ'><i class='fa fa-youtube'></i></a>
    <a target='_blank' href='https://www.instagram.com/swan.audio'><i class='fa fa-instagram'></i></a>
  </aside>
</header>
<main role='main'>
  <router-outlet></router-outlet>
</main>
<footer role='contentinfo'>
  <div>
    <section>
      <h5>About Us</h5>
    </section>
    <recent-tweets></recent-tweets>
    <recent-instagram></recent-instagram>
  </div>

  <hr>

  <div>
    <ul class='inline-list'>
      <li><a>Blog</a></li>
      <li><a routerLink='/terms'>Terms</a></li>
      <li><a routerLink='/privacy'>Privacy</a></li>
      <li><a routerLink='/contact'>Contact</a></li>
    </ul>

    <span class='flex'></span>

    <span class='copyright'>Swan Audio Inc. &copy; 2017</span>
  </div>
</footer>
